<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Habit Detail</title>
        <script src='static/habit_detail.js'></script>
        <link rel="stylesheet" href="../static/simple-calendar.css">
        <script src="static/jquery.simple-calendar.min.js"></script>
        <script src="static/jquery.simple-calendar.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/habit_detail.css">
    </head>
    
    <body>
        <header role="banner">
            <h1>Habit detail</h1>
            
        </header>

        <main role="main"> 
            <div class="contents">
                {% block body %}
                    <h2>{{habit_detail.habit_name}}</h2>
                {% endblock %}
               <p>{{habit_detail.real_streaks}} / {{habit_detail.goal_streaks}}</p>
            </div>
            <div id="container">

            </div>

        </main>

        <footer class="footer">
             <div class="fotter-habit-detail">
                 <a href="{{url_for('deleteHabit')}}">Delete habit</a>
                 <a href="{{url_for('main')}}">Come back home</a>
             </div>
        </footer>
    </body>
</html>