<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Habit Detail</title>
        <!-- <script src='static/common.js'></script> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/main.css">
    </head>
    
    <body>
        <header role="banner">
            <h1>Habit detail</h1>
            {% block body %}
                <h2>{{habit_detail.habit_name}}</h2>
            {% endblock %}
        </header>
        <main role="main"> 
            <div class="container">
               <p>{{habit_detail.goal_streaks}}/ {{habit_detail.real_streaks}}</p>
            </div>
        </main>
        <footer class="footer">
             <div class="fotter-add-habit">
                 <a href="{{url_for('newHabit')}}">Change habit info</a>
             </div>
        </footer>
    </body>
</html>