* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    background-image: url(../static/images/blue1.jpeg);
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background: linear-gradient(90deg,#6859EA,#6ACDE0);

}
main {
    display: block;
    text-align: center;
}

footer {
    text-align: center;
    margin: 32px 0;
}

h1 {
    color: #000000;
    margin: 0 0 72px 0;
    padding: 36px 0;
    text-align: center;
    font-size: 2.5rem;
}

h2 {
    margin: 36px 0;
}

input {
    width: 350px;
    height: 50px;
    border-radius: 15px;
}

a {
    font-size: 1.2rem;
    padding-top: 16px;
    text-decoration: none;
    width: 200px;
    height: 40px;
    text-align: center;
    background: #3498DB;
    border-radius: 15px;
    color: #FFFFFF;
    display: block;
    opacity: 0.8;
}
a:hover {
    opacity: 1.0;
    width: 202px;
    height: 42px;
}
label {
    font-size: 1.6rem;
    font-weight: bold;
}

.add-new-habit-btn {
    margin-top: 32px;
    background: #3498DB;
    width: 200px;
    height: 50px;
    color: #FFFFFF;
    font-size: 1.2rem;
    border: none;
    opacity: 0.8;
}
.add-new-habit-btn:hover {
    opacity: 1.0;
    width: 202px;
    height: 52px;
}
.fotter-add-habit {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
    border-radius: 15px;
}
